$red: #E3766B;
$yellow: #F7B726;
$green: #27A844;

$bgDark: #1C1C1C;
$bgLight: #4A4A4A;
$bgLessLight: #333333;
$fgLight: #EEEEEE;
$fgDark: #A17DA1;

$hyperlink: #88B0D5;
$comment: #919151;
$bold: #EEC95A;
$headingSmall: #919151;
//$headingSmall: #887187;
$headingSmaller: #887187;