$red: #E3766B;
$yellow: #F7B726;
$green: #27A844;

$bgPage: #28282c;
$bgDark: #1C1C1C;
$bgLight: #535358;
$bgLessLight: #333333;
$fgLight: #EEEEEE;
$fgDark: #b372b3;

$hyperlink: #88c3d5;
$comment: #809151;
$bold: #EEC95A;

$headingSmall: $fgDark;
$headingSmaller: $fgDark;