$globalPadding: 1.2rem;

@import 'breakpoints';
@import 'colors';
@import 'window';
@import 'nav';

$lineHeight: 1.2rem;

:root {
    --color-red: #E3766B;
    --color-yellow: #F7B726;
    --color-green: #27A844;

    --color-headingSmall: var(--color-fgDark);
    --color-headingSmaller: var(--color-fgDark);
}

:root,
:root.dark {
    --color-bgPage: #28282c;
    --color-bgDark: #1C1C1C;
    --color-bgLight: #535358;
    --color-bgLessLight: #333333;
    --color-fgLight: #EEEEEE;
    --color-fgDark: #b372b3;

    --color-hyperlink: #88c3d5;
    --color-comment: #809151;
    --color-bold: #EEC95A;
}

@mixin lightMode() {
    --color-bgPage: rgb(230, 227, 215);
    --color-bgDark: white;
    --color-bgLessLight: #d8d8d8;
    --color-bgLight: #c4c1b5;
    --color-fgLight: #333;
    --color-fgDark: #d66f0f;

    --color-hyperlink: #3292af;
    --color-comment: #a2c279;
    --color-bold: #d3a118;
}

@media (prefers-color-scheme: light) {
    :root {
        @include lightMode();
    }
}

:root.light {
    @include lightMode();
}

html,
body {
    margin: 0;
    padding: 0;
}

html {
    background: var(--color-bgPage);

    font-size: 20px;
}

body {
    font-family: 'JetBrains Mono', monospace;
    font-size: 16px;
    color: var(--color-fgLight);
    line-height: $lineHeight;
}

a {
    text-decoration: none;
    color: var(--color-hyperlink);
}

.comment {
    color: var(--color-comment);
}

strong,
b {
    color: var(--color-bold);
}

pre,
p,
h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    padding: 0;
}

p {
    margin-top: $lineHeight;
}

h2 {
    $fontSize: 1.5em;
    font-size: $fontSize;

    // We set the height equal to one line
    height: $lineHeight;

    // Adjust margins above and below, so that we are
    // centered across two lines; i.e. half a line above,
    // half below
    margin-top: $lineHeight;
    margin-bottom: $lineHeight;
}

h3 {
    $fontSize: 1.2em;
    font-size: $fontSize;
    height: $lineHeight;
    margin-top: $lineHeight;

    color: var(--color-headingSmall);
}

h4 {
    $fontSize: 1em;
    font-size: $fontSize;
    height: $lineHeight;
    margin-top: $lineHeight;

    color: var(--color-headingSmaller);
}

img {
    // Prevent random vertical space below img
    vertical-align: top;
}

.img-small {
    height: $lineHeight * 10;
}

ul {
    margin: 0;
    padding: 0;
    margin-top: $lineHeight;
}

ul li {
    list-style: none;
    margin: 0;
    padding-left: 2ch;

    &:before {
        content: '*';
        color: var(--color-fgDark);
        margin-left: -2ch;
        margin-right: 1ch;
    }

    &:before+p {
        display: inline-block;
    }

    p {
        margin-top: 0;
    }
}