.side-nav>div {
    padding: $globalPadding;

    color: var(--color-hyperlink);

    // On mobile, we need the vertical screen space.
    // Don't waste it with dumb gimmicks
    @media screen and (max-width: $bpMobile) {
        display: none;
    }
}

.side-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.side-nav ul li a {
    text-transform: lowercase;
    white-space: nowrap;
    display: block;
    padding-left: $globalPadding;
    padding-right: $globalPadding;

    &:before {
        content: '';
        display: inline-block;
        height: 0;
        border-top: 0.6ch solid transparent;
        border-bottom: 0.6ch solid transparent;
        border-left: 0.6ch solid var(--color-hyperlink);

        margin: 0;
        padding: 0;
        max-height: 0;
        margin-right: 1ch;
    }

    &:after {
        content: '/';
        color: var(--color-fgDark);
    }

    // On tablet etc., we go vertical nav, so we don't
    // need the padding
    @media screen and (max-width: $bpTablet) {
        padding-right: 0;
    }
}

.side-nav ul li {
    padding: 0;

    // Disable regular list styling that we made
    &:before {
        content: '';
        margin: 0;
    }
}

.side-nav ul li.active {
    background: var(--color-bgLessLight);
}

.side-nav .eye-strain {
    padding: $globalPadding 0;
}

#toggle-eye-strain {
    cursor: pointer;
    display: block;
    padding: 0 $globalPadding;

    font-family: inherit;
    font-size: inherit;
    background: none;
    border: none;
    width: 100%;
    text-align: left;

    color: var(--color-hyperlink);
}

// Default is to assume dark mode
// Note: media queries don't affect specificity, so it's important this CSS rule
// comes before the media queries, so that the media queries take precedence.
#toggle-eye-strain:before {
    content: 'light';
}

:root.color-alt #toggle-eye-strain:before {
    content: 'dark';
}

@media (prefers-color-scheme: light) {
    #toggle-eye-strain:before {
        content: 'dark';
    }

    :root.color-alt #toggle-eye-strain:before {
        content: 'light';
    }
}

@media (prefers-color-scheme: dark) {
    #toggle-eye-strain:before {
        content: 'light';
    }

    :root.color-alt #toggle-eye-strain:before {
        content: 'dark';
    }
}