/*

    Window

*/

.window {
    width: 90vw;
    max-width: 960px;
    margin: 1.6rem auto;

    overflow: auto;

    border-radius: 0.8rem;

    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

/*

    Window header

*/

$headerHeight: 1.5rem;

.window__header {
    display: flex;
    height: $headerHeight;
    line-height: 1.5em;

    background: var(--color-bgLight);

    align-items: center;
}

.window-buttons,
.window-title {
    display: inline-flex;
}

.window-buttons {
    flex: 0;
    margin-left: 0.2em;
}

.window-title {
    flex: 1;
    flex-basis: 100%;
}

.window-buttons>* {
    display: inline-block;
    width: 1em;
    height: 1em;

    background: var(--color-fgLight);
    border-radius: 50%;
    vertical-align: middle;

    margin-right: 0.3em;

    &:first-child {
        margin-left: 0.3em;
    }

    &.window-buttons__close {
        background: var(--color-red);
    }

    &.window-buttons__min {
        background: var(--color-yellow);
    }

    &.window-buttons__max {
        background: var(--color-green);
    }
}

.window-title {
    overflow: hidden;
}

.window-title h1 {
    width: 100%;
    margin: 0;

    font-size: 1em;
    font-weight: normal;
    text-align: center;

    color: var(--color-fgLight);

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

/*
    
    Window body

*/

.window__body {
    background: var(--color-bgDark);
    overflow: auto;

    display: flex;

    // On mobile, ensure that the body fills the screen, so the 'window' isn't
    // cut short within the viewport.
    flex: 1;
}

.window__body>aside {
    flex: 0;

    border-right: 2px solid var(--color-bgLight);
}

$lineNumWidth: 4ch;

.window__body>article {
    flex: 1;
    position: relative;
    padding: $globalPadding;
    padding-left: $lineNumWidth + 1ch;

    overflow: auto;
    overflow-wrap: break-word;

    @media screen and (max-width: $bpMobile) {
        // On mobile, remove the body's padding. This makes for a more compact
        // layout, as we can't afford the space waste.
        padding-top: 0;
        padding-bottom: 0;
    }
}

.window__body .body__line-numbers {
    position: absolute;
    top: $globalPadding;
    bottom: $globalPadding;
    left: 0;
    width: $lineNumWidth;

    text-align: right;
    color: var(--color-bgLight);

    overflow: hidden;

    @media screen and (max-width: $bpMobile) {
        // On mobile, we remove the body's padding so that we use the space
        // more efficiently.
        top: 0;
        bottom: 0;
    }
}

/*
    Mobile
*/

@media screen and (max-width: $bpTablet) {

    html,
    body {
        height: 100%;
    }

    .window {
        width: auto;
        margin: 0;
        min-height: 100%;

        // Having a border radius exposes the background, which looks weird
        // on a square screen...
        border-radius: 0;

        // Flex so that we can make the body grow to fill the whole screen
        display: flex;
        flex-direction: column;
    }

    .window__header {
        border-radius: 0;
    }

    .window__body {
        flex-direction: column;
    }

    .window__body>aside {
        border-right: none;
        border-bottom: 2px solid var(--color-bgLight);
    }

}