@import 'colors';

/*

    Window

*/

.window {
    width: 90vw;
    max-width: 960px;
    margin: 2rem auto;

    overflow: auto;
}

/*

    Window header

*/

$headerHeight: 1.5rem;

.window__header {
    display: flex;
    height: $headerHeight;
    line-height: 1.5em;

    background: $bgLight;
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;

    align-items: center;
}

.window-buttons,
.window-title {
    display: inline-flex;
}
.window-buttons { flex: 0; }
.window-title { flex: 1; flex-basis: 100%; }

.window-buttons > * {
    display: inline-block;
    width: 1em;
    height: 1em;

    background: $fgLight;
    border-radius: 50%;
    vertical-align: middle;

    margin-right: 0.3em;

    &:first-child {
        margin-left: 0.3em;
    }

    &.window-buttons__close { background: $red; }
    &.window-buttons__min { background: $yellow; }
    &.window-buttons__max { background: $green; }
}

.window-title {
    overflow: hidden;
}

.window-title h1 {
    width: 100%;
    margin: 0;

    font-size: 1em;
    font-weight: normal;
    text-align: center;

    color: $fgLight;

    white-space: nowrap;
    text-overflow: ellipsis;    
    overflow: hidden;
}

/*
    
    Window body

*/

.window__body {
    background: $bgDark;
    overflow: auto;

    display: flex;
}

.window__body > aside {
    flex: 0;

    border-right: 2px solid $bgLight;
}

$lineNumWidth: 4ch;

.window__body > article {
    flex: 1;
    position: relative;
    padding-left: $lineNumWidth + 1ch;

    overflow: auto;
    overflow-wrap: break-word;
}

.window__body .body__line-numbers {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: $lineNumWidth;

    text-align: right;
    color: $bgLight;

    overflow: hidden;
}

/*
    Mobile
*/
// @media screen and (max-width: 768px) {
//     .window {
//         width: auto;
//         margin: 1rem;
//     }

//     .window__body {
//         flex-direction: column;
//     }

//     .window__body > aside {
//         border-right: none;
//         border-bottom: 2px solid $bgLight;
//     }
// }

// @media screen and (max-width: 375px) {
//     html, body {
//         height: 100%;
//     }

//     .window {
//         margin: 0;
//         height: 100%;
//     }

//     .window__body {
//         min-height: 100%;
//         margin-bottom: -$headerHeight;
//     }
// }
@media screen and (max-width: $bpTablet) {

    html, body {
        height: 100%;
    }

    .window {
        width: auto;
        margin: 0;
        height: 100%;
    }

    .window__header {
        border-radius: 0;
    }

    .window__body {
        flex-direction: column;
    }

    .window__body > aside {
        border-right: none;
        border-bottom: 2px solid $bgLight;
    }

    .window__body {
        min-height: 100%;
        margin-bottom: -$headerHeight;
    }
}