---
import Default from '../layouts/Default.astro';
---

<Default title="About &middot; Dave Baxter">

<h2>About</h2>

<p>I'm a 20-something-year-old living in Manchester, UK. I graduated from the <strong>University of Manchester</strong> in 2022 with a BSc in Computer Science with Industrial Experience. Since then, I've been lucky enough to pursue a career in something I love: tinkering with tech!</p>

<p>Outside of the digital world, I enjoy climbing fake rocks, playing Dungeons &amp; Dragons, cooking, and playing guitar. You can probably find me in the local bouldering gym staring bewilderedly at a V3 (or alternatively, <a href="/contact">drop me an email</a> if you'd like to chat).</p>

</Default>
