---
import Default from '../layouts/Default.astro';
import { getCollection, type CollectionEntry } from 'astro:content';
import { readingTime } from '../utils/readingTime';

const posts = (await getCollection('blog'))
  .sort((a: CollectionEntry<'blog'>, b: CollectionEntry<'blog'>) => b.data.date.localeCompare(a.data.date));
---

<Default title="Blog · Dave Baxter">
  <h2>Blog</h2>
  <div class="blog-list">
    {posts.length === 0 && <span>There's nothing here... yet. Stay tuned!</span>}
    {posts.map((post: CollectionEntry<'blog'>, i: number) => (
      <a href={`/blog/${post.id}`} class="blog-row">
        <span class="blog-row__date">{post.data.date}</span>
        <span class="blog-row__title">{post.data.title}</span>
        <span class="blog-row__read">{readingTime(post.body)}</span>
      </a>
    ))}
  </div>
</Default>
