---
import Default from '../layouts/Default.astro';
---

<Default title="Contact &middot; Dave Baxter">

<h2>Contact</h2>

<ul>
  <li><strong>Email</strong>: dave.j.bax[at]gmail.com</li>
  <li><strong>Github</strong>: <a href="https://github.com/davejbax">davejbax</a></li>
  <li><strong>LinkedIn</strong>: <a href="https://www.linkedin.com/in/davejbax/">Dave Baxter</a></li>
</ul>

</Default>
