---
const links = [
  { title: 'Home', url: '/' },
  { title: 'Portfolio', url: '/portfolio' },
  { title: 'About', url: '/about' },
  { title: 'Contact', url: '/contact' },
];

const currentPath = Astro.url.pathname;
---

<nav class="side-nav">
  <div class="gimmick">/home/dave</div>
  <ul>
    {links.map((item) => (
      <li class={currentPath === item.url ? 'active' : ''}>
        <a href={item.url}>{item.title}</a>
      </li>
    ))}
  </ul>
  <div class="eye-strain">
    <button id="toggle-eye-strain"> mode</button>
  </div>
</nav>
